{% extends 'base.html'%}
{% block content %}
<html>
<style>
        .grid-container {
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: 10px;
          background-color: #2196F3;
          padding: 10px;
        }
        .grid-container > div {
          background-color: rgba(255, 255, 255, 0.8);
          text-align: center;
          padding: 40px 0;
          font-size: 150px;
        }
        

        #img1 {
            background-image: 100%;
        }
        #foot {
            text-align: center;
        }
        </style>
<div class="grid-container">
          
        <!-- First Item -->
          <div class="item1" id="img1">
              <a href="https://www.youtube.com/watch?v=iXvBjqu2Gbc"><img src="https://img.youtube.com/vi/iXvBjqu2Gbc/0.jpg" alt="">
              <h3>Miniature Backpack</h3>
          </a>
      </div>
        
      <div class="item2" id="img2">
              <a href="https://www.youtube.com/watch?v=jEPTs3puDlc"><img src="https://img.youtube.com/vi/jEPTs3puDlc/0.jpg" alt="">
              <h3>Craft With Empty Fevicryl Arcylic Paint Bottles!</h3>
          </a>
      </div>


      <div class="item3" id="img3">
              <a href="https://www.youtube.com/watch?v=jXbM-R2mfVE"><img src="https://img.youtube.com/vi/jXbM-R2mfVE/0.jpg" alt="">
              <h3>PERMANENT FAIR SKIN and Remove 'DARK SPOTS' in just 7-days</h3>
          </a>
      </div>
      
      

      <div class="item4" id="img4">
              <a href="https://www.youtube.com/watch?v=ZZ6H_wcWDlY"><img src="https://img.youtube.com/vi/ZZ6H_wcWDlY/0.jpg" alt="">
              <h3>Protective Earphone Case</h3>
          </a>
      </div>



      <div class="item5" id="img5">
              <a href="https://www.youtube.com/watch?v=jfaEUa7rYQU"><img src="https://img.youtube.com/vi/jfaEUa7rYQU/0.jpg" alt="">
              <h3>Bridal Hair Pins</h3>
          </a>
      </div>



      <div class="item6" id="img6">
              <a href="https://www.youtube.com/watch?v=eMcslHesoFw"><img src="https://img.youtube.com/vi/eMcslHesoFw/0.jpg" alt="">
              <h3>Convert Old Denim Jeans Into Bucket Sling Bag</h3>
          </a>
      </div>

      <div class="item1" id="img7">
            <a href="https://www.youtube.com/watch?v=PhyFj6mWEoc"><img src="https://img.youtube.com/vi/PhyFj6mWEoc/0.jpg" alt="">
            <h3>Miniature Backpack</h3>
        </a>
    </div>
    <div class="item1" id="img8">
            <a href="https://www.youtube.com/watch?v=-EF3wRp8mZM"><img src="https://img.youtube.com/vi/-EF3wRp8mZM/0.jpg" alt="">
            <h3>Miniature Backpack</h3>
        </a>
    </div>

    <div class="item1" id="img9">
            <a href="https://www.youtube.com/watch?v=7xXU-3fkfhk"><img src="https://img.youtube.com/vi/7xXU-3fkfhk/0.jpg" alt="">
            <h3>Miniature Backpack</h3>
        </a>
    </div>

    <div class="item1" id="img10">
            <a href="https://www.youtube.com/watch?v=3fi6VK94WB8"><img src="https://img.youtube.com/vi/3fi6VK94WB8/0.jpg" alt="">
            <h3>Miniature Backpack</h3>
        </a>
    </div>

    <div class="item1" id="img11">
            <a href="https://www.youtube.com/watch?v=edoG0B8RVmM"><img src="https://img.youtube.com/vi/edoG0B8RVmM/0.jpg" alt="">
            <h3>Miniature Backpack</h3>
        </a>
    </div>

    <div class="item1" id="img12">
            <a href="https://www.youtube.com/watch?v=7OWCYOXiHtk"><img src="https://img.youtube.com/vi/7OWCYOXiHtk/0.jpg" alt="">
            <h3>Miniature Backpack</h3>
        </a>
    </div>

    <div class="item1" id="img13">
            <a href="https://www.youtube.com/watch?v=6F5JeUUe9I8"><img src="https://img.youtube.com/vi/6F5JeUUe9I8/0.jpg" alt="">
            <h3>Miniature Backpack</h3>
        </a>
    </div>

    <div class="item1" id="img14">
            <a href="https://www.youtube.com/watch?v=oXQcs7wAW_M"><img src="https://img.youtube.com/vi/oXQcs7wAW_M/0.jpg" alt="">
            <h3>Miniature Backpack</h3>
        </a>
    </div>

    <div class="item1" id="img15">
            <a href="https://www.youtube.com/watch?v=hVzF-7S6xyw"><img src="https://img.youtube.com/vi/hVzF-7S6xyw/0.jpg" alt="">
            <h3>Miniature Backpack</h3>
        </a>
    </div>

    <div class="item1" id="img16">
            <a href="https://www.youtube.com/watch?v=9MOwew1DZL0"><img src="https://img.youtube.com/vi/9MOwew1DZL0/0.jpg" alt="">
            <h3>Miniature Backpack</h3>
        </a>
    </div>
</div>
<div class="container" id="foot">
        <h2><a href="https://www.youtube.com/channel/UC7UaWldmEFcyvzOflJflWhw/videos">For More Information and DIY-Videos, Click Here.. </a></h2>
</div>
    




      
      
{% endblock %}
</html>