<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
<style>
  #dd {
    margin-top: 8.5px;
  }
  #cmsec {
  margin-top: 8.5px;
  margin-right: 10px;
}
</style>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" id="nav_top">
        <div class="container">
          
            <a class="navbar-brand" href="{%url 'index'%}">DA Hobbies-DIY</a>
              <ul class="nav navbar-nav navbar-right">
                  
                  <li><a href="{%url 'app:contact'%}">Contact</a></li>
                  <li><a href="{%url 'app:latest'%}">Latest Hacks</a></li>
                  <li><a href="{%url 'app:all_vid'%}">All Videos</a></li>
                  <li>
                      <div class="dropdown" id="cmsec">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Comments Section
                          <span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <li><a href="{%url 'app:comments'%}">Add a Comment</a></li>
                            <li><a href="{%url 'app:user_data'%}">Show all Comments</a></li>
  
                          </ul>
  
                      </div>
                    </li>
                  
                  <li>
                    <div class="dropdown" id="dd">
                      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Social Connect
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                        <li><a href="https://www.youtube.com/channel/UC7UaWldmEFcyvzOflJflWhw"><i class="fa fa-youtube-play" style="font-size:48px;color:red;margin: auto;"></i></a></li>
                        <li><a href=""><i class="fa fa-facebook-square" style="font-size:48px;color:#3b5998"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  </li>
          </ul>
          
        </div>
      </nav>
<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>