<!DOCTYPE html>
{% extends "testapp/base.html"%}
{%load staticfiles%}
{% block body_block %}
<head>
        <body>
    {% if lg %}
    <div class="jumbotron">
        <div class="container">
            <h4>Your Comment has been sent...Thank you for commenting...</h4>
            <h6><li><a href="{%url 'index'%}">Go Home</a></li></h6>

        </div>

    </div>
    

{% else %}

    <div class="jumbotron">
        <div class="container">

        
            <h1>Welcome to the Blog _ Try..</h1>

            <form action="{%url 'after_log' %}" method="POST"> 
                {% csrf_token %}
                {{te.as_p}}
                
                <input type="submit" value="Submit">
            </form>
            </div>    
            {% endif %}        
            {% endblock %}
        </div>

    
    
    
</body>
</html>