{% extends "testapp/base.html" %}
{%load staticfiles%}
{% block body_block %}

<div class="jumbotron">
    <h1>Login Here..</h1>

    <form action="{%url 'testapp:comment_view' %}" method="POST"> 
        {% csrf_token %}
        <label for="username">Username : </label>
        <input type="text" name = "username" placeholder="Enter Username Here">

        <label for="password">Password : </label>
        <input type="password"  name="password" placeholder="Enter Password Here">

        <input type="submit" value="Login">


    </form>

</div>


{% endblock %}