<!DOCTYPE html>
{% extends "base.html" %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
{% block body_block %}
<title>Page Home</title>
<style>
    .jumbotron {
        margin-top: 25%;
        color: black;
    }

    body {
        background-color: #3b5998;
    }
</style>

<body>
    {% if user.is_authenticated %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome {{user.username}}.</h1>
            <hr>
            <h4>Please Update Your Profile...</h4>
        </div>
    </div>


    {% else %}
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome!!</h1>
            <h3>Please <a href="{% url 'app:register' %}">REGISTER</a> or <a href="{% url 'app:login' %}">LOGIN</a> to
                Continue..</h3>
        </div>
    </div>
    {% endif %}
    {% endblock %}
</body>

</html>