<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
{% block body_block %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<style>
    .jumbotron {
    margin-top: 20%;
}
body {
    background-color: #3b5998;
}
</style>

<body>

    <div class="jumbotron">
        <div class="container">
            <form action="{%url 'app:login' %}" method="POST">
                {% csrf_token %}
                <label for="username">UserName : </label>
                <input type="text" name="username" id="">
                <br>
                <label for="password">Password : </label>
                <input type="password" name="password" id="">
                <br>
                <input class="btn btn-success" type="submit" name="" id="" value="Login">

            </form>
        </div>
    </div>

    {% endblock %}
</body>

</html>