<!DOCTYPE html>
{% extends 'base.html' %}
{% load staticfiles%}
{% block content %}
<html>

<script>
    function getRandomColors(){
  var randcolors = [];
  for(var i=0; i<3; i ++)
  {
    randcolors.push(Math.ceil(Math.random()*255));
  }
  return randcolors;
}

function changeBodyBackgroundColor() {
  var colors = getRandomColors();
  var backgroundcolor = "rgba("+colors[0]+","+colors[1]+","+colors[2]+",.6"+")";
  $("body").css("background-color", backgroundcolor);
}

setInterval(function(){
  changeBodyBackgroundColor();
},2500)
</script>

    
 <style>
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:700);

body {
  margin: 0;
  padding: 0;
  -webkit-transition: 2.5s;
  -moz-transition: 2.5s;
  -ms-transition: 2.5s;
  -o-transition: 2.5s;
  transition: 2.5s;
  background-color:black;
  
  
}

.jumbotron{
    background-color: whitesmoke;
    color:gray;
}

</style> 

<div class="jumbotron">
        <div class="container">
                <h3>
                    Hi! </h3>
                   <h3> This is Deepika . I share all my handmade arts,crafts,skin care, diy recycling things, diy jewellery and also simple hack videos to entertain & help you all.</h3>
                  <h3> It doesn't end up there! Our motive is to spread the easiest way to create stuffs.. watch our videos and if you are a creative thinker, surely u ll love them😍</h3> 
                  <h3>If You Want To Buy Any Of Our Products..Please Visit the 'Buy a Product' Tab..</h3>
                  <h3>Everything Here are Hand-Made Products...</h3>
               
                </div>
</div>


        {% endblock %}