{% extends 'base.html' %}
{% block content %}


<style>
    #jumbo {
        margin-top: 100px;
    }
    .sec_emp {
        text-align: center;
    }
    #idea_per {
        margin-left: 50px;
    }
    #div_auth {
        margin-top: 500px;
    }
</style>
<div class="jumbotron" id="jumbo">
    <div class="container">
        {% if user.is_authenticated %}
           {%if commented %}
           <div class="alert alert-success" role="alert">
               <h3>Idea Submitted!</h3>
               </div>
            {% else %}   
            <div class="alert alert-primary" role="alert" id="div_auth">
                <h4 class="alert-heading">{{person.name}}</h4>
                <p>{{person.idea}}</p>
                </div>
                <form method="POST" class="form-one">
                    {% csrf_token %}
                    {{comment_section.as_p}}
                </form>
            {% endif %}    
            {% else %}          
            <div class="alert alert-primary" role="alert" id="div_unauth">
                <h4 class="alert-heading">{{person.name}}</h4>
                <p>{{person.idea}}</p>
                </div>
                <li><a href="{%url 'app:register'%}">register</a> to Submit Your Idea</li>

                {% endif %}
    </div>
    </div>

{% endblock %}