body {
    background-color: gray;
}

#content_one {
    margin-left: 15%;
    background-color: #4B77BE;
    border-radius: 10px;
}

#one{
    background-color: gray;
}

#col_white {
    color: white;
    
} 
#course_link {
    margin-right: 10px;
    margin-left: 1060px;
}

#foot_id {
    background-color: whitesmoke;
    color: #4B77BE;
}

#alert_content {
    height: 100%;
}
.quote1 {
    margin-left: 25%;
}

p,h1 {
    margin-left:25%;
}

#up_down {
    color:white;
    background-color: black;
    margin-bottom: 50px;
    
}
#up_down1 {
    color:white;
    background-color: black;
    margin-bottom: 25px;
    padding-bottom: 10%;
}
#mission {
    margin-top: 10%;
}
h5{ 
    margin-left: 30%;
    padding-top: 20px;
}
#cont_bottom1 {
    margin-left: 25%;
    margin-top: 10%;
}
/* <- Demo Stuff Start */

body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    min-height: 100vh;
  }
  .btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    /* box-shadow: 0 0 10px #eee; */
   }
  
  /* Demo Stuff End -> */
  
  /* <- Magic Stuff Start */
  
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  .btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
  
  .btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
  
  .btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }
  
  .btn-4 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }
  
  .btn-5 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
  }
  
  /* Magic Stuff End -> */
  
  #clicker,#action_drop,#action_drop1,#contact,#about,#other {
      margin-right: 5px;
      margin-left: 0%;
      
  }
  #action_drop1 {
   
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

#about {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#other {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#action_drop {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#clicker {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* margin-left: 625px; */
   
}

#contact {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}