body {
    background-color: black;
}

#content_one {
    margin-left: 15%;
    background-color: #4B77BE;
    border-radius: 10px;
}

#one{
    background-color: gray;
}

#col_white {
    color: white;
    
} 
#course_link {
    margin-right: 10px;
    margin-left: 1060px;
}

#foot_id {
    background-color: whitesmoke;
    color: #4B77BE;
}

#alert_content {
    height: 100%;
}
.quote1 {
    margin-left: 25%;
}

p,h1 {
    margin-left:25%;
}

#up_down {
    color:white;
    background-color: black;
    margin-bottom: 50px;
    
}
#up_down1 {
    color:white;
    background-color: black;
    margin-bottom: 25px;
    padding-bottom: 10%;
}
#mission {
    margin-top: 10%;
}
h5{ 
    margin-left: 30%;
    padding-top: 20px;
}
#cont_bottom1 {
    margin-left: 25%;
    margin-top: 10%;
}
  
  #clicker,#action_drop,#action_drop1,#contact,#about,#other {
      margin-right: 5px;
      margin-left: 0%;
      
  }
  #action_drop1 {
   
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

#about {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#other {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#action_drop {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#clicker {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* margin-left: 625px; */
   
}

#contact {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#main_head {
    margin-right: 525px;
}