h2 {
    color:whitesmoke;
    margin-bottom: 30%;
}
body {
    /* background-image: url('https://images.unsplash.com/photo-1521449256184-170b4a4c437c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=db2fb9dc4a09793aaab44e20e34c8e49&auto=format&fit=crop&w=1049&q=80'); */
    background-repeat: round; 
    background-color: #141414;
    

}

#prev_ico,#next_ico {
    background-color: black;
}
@media screen and (max-width: 767px) {
    .sidenav,#carouselExampleIndicators {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }
#up_down {
  background-image: url('https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07b3e311bd77d17eb7b57be259ba922e&auto=format&fit=crop&w=1050&q=80');
  background-repeat:inherit;
  opacity: 0.5;
  color: black;
  width: 100%;
  height: 80%;
}

.jumbotron,body {
      
    background-color: #141414;
    color: white;
        
}
@media screen and (max-width: 767px) {
  .sidenav,#carouselExampleIndicators {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}
.row.content {
    margin-top: 20%;
    margin-bottom: 30%;
}
html,body { 
    height:100%; 
    margin: 0;
    /* margin-bottom:100px; */
}
#one_link,#two_link,#three_link,#four_link {
    margin-bottom: 20px;
    margin-right: 100%;
}
#foot_id {
  background-color: whitesmoke;
  color: black;
}
.container {
  width: 500%;
}

#div1_content{
    margin-left: 18%;
    margin-top: 13%;
}
#div2_content{
  margin-left: 18%;
  margin-top: 13%;
  
}
#container_caro {
    margin-bottom: -35%;
    margin-top: 5%;
    border: 20px;
    border-color: wheat;
}

#up_down1 {
    background-image: url('https://images.unsplash.com/photo-1508614999368-9260051292e5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=07b3e311bd77d17eb7b57be259ba922e&auto=format&fit=crop&w=1050&q=80');
    background-repeat:inherit;
    opacity: 0.5;
    color: black;
    width: 100%;
    height: 80%;
    margin-top: -19.55%;   
}

#col_white {
    margin-left: 10px;
    margin-right: 7.5px;    
    color: white;
}

#col_white1 {
    margin-left: 10px;
    color: white;
}
#main_head {
    margin-right: 10px;
}

#action_drop1 {
   
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: -5px;
}

#about {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#other {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#action_drop {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#clicker {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* margin-left: 625px; */
   
}

#contact {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#jumbo {
    margin-top: 50px;
    height: 500px;
    background-color: whitesmoke;
}

#alert_ {
    height: 300px;
}
#head_alert {
    margin-left: 250px;
    margin-top: 110px;
}
/* <- Demo Stuff Start */

body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
    min-height: 100vh;
  }
  .btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    /* box-shadow: 0 0 10px #eee; */
   }
  
  /* Demo Stuff End -> */
  
  /* <- Magic Stuff Start */
  
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  
  .btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
  
  .btn-2 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  }
  
  .btn-3 {
    background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
  }
  
  .btn-4 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  }
  
  .btn-5 {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 51%, #ffecd2 100%);
  }
  
  /* Magic Stuff End -> */
  
  #clicker,#action_drop,#action_drop1,#contact,#about,#other {
      margin-right: 5px;
      margin-left: 0%;
      
  }